h1{
    color: #4070f4;
    background-color: #7cf03d ;
    border-radius: 3px;
}

.post{
    background-color: #7cf03d;
    border-radius: 5px;
}
.user{
    font-style: italic;
}

.Delete:hover{
    background-color: red;
    border-radius: 5px;
    
}
.Delete{
    color:black;
}



